@font-face {
    font-family: 'iconfont';  /* project id 449584 */
    src: url('http://at.alicdn.com/t/font_449584_tpne3gyk5o7xpqfr.eot');
    src: url('http://at.alicdn.com/t/font_449584_tpne3gyk5o7xpqfr.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_449584_tpne3gyk5o7xpqfr.woff') format('woff'),
    url('http://at.alicdn.com/t/font_449584_tpne3gyk5o7xpqfr.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_449584_tpne3gyk5o7xpqfr.svg#iconfont') format('svg');
}
*{
    margin: 0;
    padding:0;
    text-decoration: none;
    list-style: none;
    user-select: none;
}
header{
    width:100%;
    height:56px;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}
header>h2{
    color: #4A80D6;
    margin-left: 20px;
    line-height: 56px;
    font-weight: normal;
    float: left;
}
header>main{
    width:944px;
    height:100%;
    margin:0 auto;
}
main>h4:first-child>a{
    line-height: 56px;
    color: #4A80D6;
    font-weight: normal;
    float: left;
    margin-right: 40px;
}
main>h4:nth-child(2)>a{
    color: #000;
    line-height: 56px;
    font-weight: normal;
    float: left;
    margin-right: 40px;
}
.search{
    width:160px;
    height:40px;
    margin-top: 6px;
    margin-right: 10px;
    border-radius:20px;
    float: right;
    position: relative;
}
.search>input{
    width:140px;
    height:100%;
    padding-left: 20px;
    border: none;
    background:#eeeeee;
    color: #a0a0a0;
    border-radius:20px;
    outline: none;
}
.search-icon{
    width:30px;
    height:30px;
    border-radius: 50%;
    position: absolute;
    top:5px;
    right: 5px;
    z-index: 3;
    font-family:iconfont;
    color: #fff;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.person{
    width:100px;
    height:36px;
    padding:10px 0px;
    position: absolute;
    top:0;
    right:40px;
    cursor: pointer;
}
.person:hover{
    background: #F2F2F2;
}
.head-img{
    width:36px;
    height:100%;
    margin:0 auto;
    border-radius: 50%;
    border: 1px solid #9d9d9d;
    box-sizing: border-box;
}
.head-img>img{
    width:100%;
    height:100%;
    border-radius: 50%;
}
.angle{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #9d9d9d;
    position: absolute;
    top:0;
    bottom:0;
    right:10px;
    margin:auto;
}
.select{
    width:150px;
    height:150px;
    background: #fff;
    display: none;
    box-shadow: 0px 5px 10px 1px rgba(0,0,0,0.1);
    position: absolute;
    top:56px;
    left:-50px;
    z-index: 3;
}
.person:hover .select{
    display: block;
}
.select>li{
    width:120px;
    height:33.333333%;
    padding:0px 15px;
    text-align: center;
    line-height: 50px;
}
.select>li:hover{
    background: #F2F2F2;
}
.select>li>a{
    display: block;
    width:100%;
    height:100%;
    color: #4A80D6;
    font-family: iconfont;
    font-size: 14px;
}
.main{
    width:944px;
    height:auto;
    margin:0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.main-left{
    width:280px;
    height:260px;
}
.main-left>li{
    width:230px;
    height:32px;
    padding:10px 25px;
    text-align: center;
    line-height: 32px;
}
.main-left>li>a{
    font-size: 16px;
    color: #4A80D6;
    font-family: iconfont;
}
.name{
    width:60%;
    height:100%;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.name>li:nth-child(1){
    width:30%;
    height:100%;
    text-align: center;
    line-height: 32px;
    color:#4A80D6;
    font-family: iconfont;
    font-size: 18px;
}
.name>li:nth-child(2){
    width:70%;
    height:100%;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    color: #000;
}
.main-right{
    width:600px;
    height:600px;
}
.main-right>iframe{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}