<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加管理员</title>
    <link rel="stylesheet" href="{CSS_URL}/bootstrap.css">
</head>
<style>
    *{
        margin:0;
        padding:0;
    }
    body,html{
        width:100%;
        height:100%;
        overflow: hidden;
    }
</style>
<body>
<form class="form-horizontal" action="index.php?m=admin&f=index&a=addAdminCon" method="post">
    <div class="form-group">
        <label  class="col-sm-2 control-label">用户名：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="aname" placeholder="请输入用户名">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">密 码：</label>
        <div class="col-sm-10">
            <input type="password" name="apass" class="form-control" id="inputPassword3" placeholder="请输入密码">
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label  class="col-sm-2 control-label">角色选择：</label>
            {foreach $title as $v}
                <label class="radio-inline">
                    <input type="radio" name="roleid" id="inlineRadio1" value="{$v['roleid']}">{$v['rname']}
                </label>
            {/foreach}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">添加</button>
        </div>
    </div>
</form>
</body>
</html>