{include "./header.html"}
<link rel="stylesheet" href="{CSS_URL}/index.css">
    <section id="banner">
        <ul class="banner">
            <li style="z-index: 2"><a href=""><img src="{IMG_URL}/b1.jpg" alt=""></a></li>
            <li><a href=""><img src="{IMG_URL}/b2.jpg" alt=""></a></li>
            <li><a href=""><img src="{IMG_URL}/q1.jpg" alt=""></a></li>
            <li><a href=""><img src="{IMG_URL}/q5.jpg" alt=""></a></li>
            <li><a href=""><img src="{IMG_URL}/sbanner.jpg" alt=""></a></li>
        </ul>
        <ul class="button">
            <li> < </li>
            <li> > </li>
        </ul>
        <ul class="thumb" style="z-index: 3">
            <li style="transform: scale(1.15)"><a href=""><img src="{IMG_URL}/b1.jpg" alt=""></a></li>
            <li><a href=""><img src="{IMG_URL}/b2.jpg" alt=""></a></li>
            <li><a href=""><img src="{IMG_URL}/q1.jpg" alt=""></a></li>
            <li><a href=""><img src="{IMG_URL}/q5.jpg" alt=""></a></li>
            <li><a href=""><img src="{IMG_URL}/sbanner.jpg" alt=""></a></li>
        </ul>
    </section>
    <section class="main">
        <div class="main-left">
            <ul class="catagory">
                <li><a href="index.php?m=index&f=zhuanti">
                    <img src="{IMG_URL}/six1.jpg" alt=""><div class="cataname">手绘</div>
                </a></li>
                <li><a href="index.php?m=index&f=zhuanti">
                    <img src="{IMG_URL}/six2.jpg" alt=""><div class="cataname">旅行，在路上</div>
                </a></li>
                <div class="more"><a href="index.php?m=index&f=index&a=more">查看更多热门专题 > </a></div>
            </ul>
            <ul class="message">
                <li>
                    <div class="message-left">
                        <div class="head">
                            <a href="index.php?m=index&f=zhuye">
                                <img src="{IMG_URL}/q8.jpg" alt="">
                            </a>
                        </div>
                        <span class="username"><a href="index.php?m=index&f=zhuye">潇洒小兔</a></span>
                        <span class="time">10小时前</span><br><br>
                        <h4 class="conname"><a href="index.php?m=index&f=index&a=content">我想劝你，别让熬夜摧毁你的生活</a></h4>
                        <p class="con">01 在我小的时候，熬夜还是一件不常见的事情。那个时候身边的人的作息都十分有规律，唯一需要熬夜的日子只有年关。 然而现在，熬夜似乎已经成了一种生活的常态。 并不是有非要熬夜才...</p>
                        <div class="cata"><a href="">心理</a></div>
                        <ul class="read">
                            <li><a href="index.php?m=index&f=index&a=content">&#xe63f; 2323</a></li>
                            <li><a href="index.php?m=index&f=index&a=content">&#xe603; 55</a></li>
                            <li><a href="index.php?m=index&f=index&a=content">&#xe634; 43</a></li>
                            <li><a href="index.php?m=index&f=index&a=content">&#xe640; 1</a></li>
                        </ul>
                    </div>
                    <div class="message-right">
                        <img src="{IMG_URL}/six2.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="message-left">
                        <div class="head">
                            <a href="index.php?m=index&f=zhuye">
                                <img src="{IMG_URL}/q8.jpg" alt="">
                            </a>
                        </div>
                        <span class="username"><a href="index.php?m=index&f=zhuye">潇洒小兔</a></span>
                        <span class="time">10小时前</span><br><br>
                        <h4 class="conname"><a href="index.php?m=index&f=index&a=content">我想劝你，别让熬夜摧毁你的生活</a></h4>
                        <p class="con">01 在我小的时候，熬夜还是一件不常见的事情。那个时候身边的人的作息都十分有规律，唯一需要熬夜的日子只有年关。 然而现在，熬夜似乎已经成了一种生活的常态。 并不是有非要熬夜才...</p>
                        <div class="cata"><a href="">心理</a></div>
                        <ul class="read">
                            <li><a href="index.php?m=index&f=index&a=content">&#xe63f; 2323</a></li>
                            <li><a href="index.php?m=index&f=index&a=content">&#xe603; 55</a></li>
                            <li><a href="index.php?m=index&f=index&a=content">&#xe634; 43</a></li>
                            <li><a href="index.php?m=index&f=index&a=content">&#xe640; 1</a></li>
                        </ul>
                    </div>
                    <div class="message-right">
                        <img src="{IMG_URL}/six2.jpg" alt="">
                    </div>
                </li>
            </ul>
            <div class="read-more"><a href="">悦读更多</a></div>
        </div>
        <div class="main-right">
            <div class="ribao">
                <ul class="ribao-head">
                    <li>悦读日报</li>
                    <li><a href="index.php?m=index&f=zhuanti">查看往期</a></li>
                </ul>
                <ul class="ribao-main">
                    <li><a href="index.php?m=index&f=index&a=content">简婶揭秘013 —— 为什么社交软件让我们越来越寂寞？</a></li>
                    <li><a href="index.php?m=index&f=index&a=content">简影喵009—简书电影@釜山国际电影节系列①：《追·踪》</a></li>
                </ul>
                <ul class="ribao-head">
                    <li>推荐作者</li>
                    <li><a href="">换一批</a></li>
                </ul>
                <ul class="author">
                    <li>
                        <div class="autor-head">
                            <a href="index.php?m=index&f=zhuye">
                                <img src="{IMG_URL}/q8.jpg" alt="">
                            </a>
                        </div>
                        <div class="author-name">
                            <h5><a href="index.php?m=index&f=zhuye">名贵的考拉熊</a></h5>
                            <h6>写了10.8k字 6.1k喜欢</h6>
                        </div>
                        <div class="guanzhu"><a href="">+ 关注</a></div>
                    </li>
                    <li>
                        <div class="autor-head">
                            <a href="index.php?m=index&f=zhuye">
                                <img src="{IMG_URL}/q8.jpg" alt="">
                            </a>
                        </div>
                        <div class="author-name">
                            <h5><a href="index.php?m=index&f=zhuye">名贵的考拉熊</a></h5>
                            <h6>写了10.8k字 6.1k喜欢</h6>
                        </div>
                        <div class="guanzhu"><a href="">+ 关注</a></div>
                    </li>
                    <li>
                        <div class="autor-head">
                            <a href="index.php?m=index&f=zhuye">
                                <img src="{IMG_URL}/q8.jpg" alt="">
                            </a>
                        </div>
                        <div class="author-name">
                            <h5><a href="index.php?m=index&f=zhuye">名贵的考拉熊</a></h5>
                            <h6>写了10.8k字 6.1k喜欢</h6>
                        </div>
                        <div class="guanzhu"><a href="">+ 关注</a></div>
                    </li>
                    <li>
                        <div class="autor-head">
                            <a href="index.php?m=index&f=zhuye">
                                <img src="{IMG_URL}/q8.jpg" alt="">
                            </a>
                        </div>
                        <div class="author-name">
                            <h5><a href="index.php?m=index&f=zhuye">名贵的考拉熊</a></h5>
                            <h6>写了10.8k字 6.1k喜欢</h6>
                        </div>
                        <div class="guanzhu"><a href="">+ 关注</a></div>
                    </li>
                    <li>
                        <div class="autor-head">
                            <a href="index.php?m=index&f=zhuye">
                                <img src="{IMG_URL}/q8.jpg" alt="">
                            </a>
                        </div>
                        <div class="author-name">
                            <h5><a href="index.php?m=index&f=zhuye">名贵的考拉熊</a></h5>
                            <h6>写了10.8k字 6.1k喜欢</h6>
                        </div>
                        <div class="guanzhu"><a href="">+ 关注</a></div>
                    </li>
                </ul>
                <div class="all"><a href="index.php?m=index&f=index&a=all">查看全部 > </a></div>
            </div>
        </div>
    </section>
    {include "./footer.html"}
<script src="{JS_URL}/index.js"></script>
</body>
</html>