<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <script src="{JS_URL}/jquery-3.2.1.js"></script>
    <script src="{JS_URL}/personal.js"></script>
    <link rel="stylesheet" href="{CSS_URL}/personal.css">
</head>
<body>
<header>
    <h2>悦读</h2>
    <main>
        <h4><a href="">首页</a></h4>
        <div class="search">
            <input type="text" placeholder="搜索">
            <div class="search-icon">&#xe672;</div>
        </div>
    </main>
    <div class="person">
        <div class="head-img">
            <img src="{IMG_URL}/q8.jpg" alt="">
        </div>
        <div class="angle"></div>
        <ul class="select">
            <li><a href="">&#xe662; 我的主页</a></li>
            <li><a href="index.php?m=index&f=personal">&#xe600; 个人中心</a></li>
            <li><a href="">&#xe645; 退出登录</a></li>
        </ul>
    </div>
</header>
<section class="main">
    <ul class="main-left">
        <li><a href="index.php?m=index&f=level" target="right">
            <ul class="name">
                <li>&#xe627;</li>
                <li>我的等级</li>
            </ul>
        </a></li>
        <li><a href="index.php?m=index&f=car" target="right">
            <ul class="name">
                <li>&#xe605;</li>
                <li>购物车</li>
            </ul>
        </a></li>
        <li><a href="index.php?m=index&f=dingdan" target="right">
            <ul class="name">
                <li>&#xe604;</li>
                <li>我的订单</li>
            </ul>
        </a></li>
        <li><a href="index.php?m=index&f=zhanghu" target="right">
            <ul class="name">
                <li>&#xe65e;</li>
                <li>我的账户</li>
            </ul>
        </a></li>
        <li><a href="index.php?m=index&f=ziliao" target="right">
            <ul class="name">
                <li>&#xe648;</li>
                <li>资料设置</li>
            </ul>
        </a></li>
    </ul>
    <div class="main-right right">
        <iframe src="" name="right" frameborder="0"></iframe>
    </div>
</section>
</body>
</html>